* {
  box-sizing: border-box; /*Que se cuenta el border al total del tamaño de la caja contenedora*/
  text-decoration: none;
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body{
    padding:0px;
    margin: 0px;
}

header{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

header>a>img{
    width: 160px;
}

nav>ul{
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

nav>ul>li>a{
    text-decoration: none;
    color: #3a424f;
}

main{
    text-align: center;
}

/* SECTION BANNER */
.section-hero{
    height: 800px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/img/banner.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(20, 23, 47 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-title{
    font-weight:600;
}

.hero-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*SECTION EQUIPO */
.section-title{
    max-width: 500px;
    margin: 16px;
    font-size: 36px;
    font-weight:600;
}

.section-description{
    max-width: 600px;
    margin-top: 0px;
    margin-bottom: 48px;
    font-size: 16px;
}

.section-team{
    width: 100%;
    height: 900px;
    background-color:#d6effe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-villains{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-movies{
    width: 100%;
    height: 900px;
    background-color:#fee7d6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-content{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-cards{
    width: 100%;
    gap: 32px;
    display: flex;
    justify-content: center;
}


.card-member{
    max-width: 316px;
    background-color: rgba(251, 251, 252, 0.8);
    padding: 16px;
    border-radius: 8px;
    box-shadow: rgba(159, 173, 186, 0.2) 0px 4px 24px;
}

.member-picture{
    width: 100%;
    border-radius: 8px;
    padding-bottom: 16px;
}

.card-name{
    font-size: 20px;
    font-weight: 600;
}

.card-info{
    font-size: 16px;
    font-style: italic;
    color: #404e56;
}


/* SECTION FORM */
.section-form{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-form-content{
    width: 480px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-form{
    width: 100%;
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.form-input{
    width: 100%;
    gap: 4px;
    display: flex;
    flex-direction: column;
    text-align: start;
}

footer{
    width: 100%;
    padding: 16px;
    background-color: #011a3a;
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;
}