$primary-color-btn: rgb(1, 67, 165);
$secondary-color-btn: rgb(0, 140, 201);

$bg-main-card: rgba(251, 251, 252, 0.8);

$color-text-on-color: rgb(255, 255, 255);

$breakpoint-sm: 576px;
$breakpoint-md: 768px;